<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Favicon -->
    <link rel="icon" href="/images/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/style.css">

</head>

<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="oneMusic-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                    <!-- Nav brand -->
                    <a href="home.html" class="nav-brand"><img src="/images/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>

                                <li><a th:href="@{/profile}">Profile</a></li>  <!-- ADD PROFILE OPTIONS -->


                                <li><a href="#">Actions</a>

                                    <ul class="dropdown">
                                        <li><a th:href="@{/add-song}">Add Song</a></li>
                                        <li><a th:href="@{/add-album}">Add Album</a></li>
                                        <li><a th:href="@{/view-favourites}">View Favourites</a></li>
                                    </ul> </li>

                                <li>
                                    <a th:href="@{/logout}">Logout</a>

                            </ul>

                            <!-- Nav End -->

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Profile Area Start ##### -->

<div class="container d-flex justify-content-center">
    <div class="card p-3 py-4">
        <div class="text-center">
            <img src="https://i.imgur.com/stD0Q19.jpg" width="100" class="rounded-circle">
            <h2><span th:text="${profileView.username}">Username</span></h2>

            <div class="row mt-3 mb-3">

                <div class="col-md-4">
                    <h5>Total Songs Added:</h5>
                    <span th:text="${profileView.addedSongsCount}"></span>
                </div>

                <!-- SPACE HERE -->

                <div class="col-md-4">
                    <h5>Favourite Songs:</h5>
                    <span th:text="${profileView.favouriteSongsCount}"></span>
                </div>

            </div>

            <hr class="line">

            <!-- TODO: ADD BIOGRAPHY
            <small class="mt-4">I am an android developer working at google Inc at california,USA</small> -->



        </div>
    </div>
</div>




<!-- ##### Profile Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <div class="container">
        <div class="row d-flex flex-wrap align-items-center">
            <div class="col-12 col-md-6">
                <a href="#"><img src="/images/core-img/logo.png" alt=""></a>
                <p class="copywrite-text"><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery-2.2.4 js -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="/js/active.js"></script>
</body>

</html>